body{
	margin: 0;
}
#wrapper{
	width: 500px;
	margin: 0 auto;
}
#jxgbox{
	position: relative;
	height: 500px;
	overflow: none;
}
#control_wrapper{
	position: absolute;
	top: 0;
	width: 500px;
}
#number_slider{
	width: 300px;
}
